<?xml version="1.0"?>
<launch>
  <arg name="script" default="nav_cloning_node.py"/>
  <arg name="world_name" default="willow_garage.world"/>
  <arg name="map_file" default="willowgarage.yaml"/>
  <arg name="waypoints_file" default="willow_loop.yaml"/>
  <arg name="dist_err" default="0.8"/>
  <arg name="initial_pose_x" default="-8" />
  <arg name="initial_pose_y" default="-16" />
  <arg name="initial_pose_a" default="0.0" />
  <arg name="use_waypoint_nav" default="true" />
  <arg name="robot_x" default="2.5" />
  <arg name="robot_y" default="0.5" />
  <arg name="robot_Y" default="0.0" />
  <arg name="gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find nav_cloning)/../data/world/$(arg world_name)"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(find orne_description)/urdf/gamma/orne_gamma.urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model mobile_base -x $(arg robot_x) -y $(arg robot_y) -z 0.28 -Y $(arg robot_Y) -param robot_description" />

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
        args="10 nav_cloning nav_cloning.launch script:=$(arg script)"
        name="timed_roslaunch" output="screen" >
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
        args="18 orne_navigation_executor play_waypoints_nav_common.launch robot_name:=gamma map_file:=$(find nav_cloning)/../data/maps/$(arg map_file) waypoints_file:=$(find nav_cloning)/../data/waypoints/$(arg waypoints_file) dist_err:=$(arg dist_err) use_waypoint_nav:=$(arg use_waypoint_nav)"
        name="timed_roslaunch2" >
  </node>

  <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
        args="30 nav_cloning start_wp_nav.launch"
        name="timed_roslaunch3" >
  </node>
</launch>